<!DOCTYPE html>
<html>
  <head>
    <title>CartApp</title>
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="shop_link"><%= link_to "HOME", "//" + Rails.configuration.x.shop_host %></span>
            <span class="shop_link"><%= link_to "SHOP", "//" + Rails.configuration.x.shop_host + "/items" %></span>
          </div>
          <div class="col text-right">
            <% if current_user %>
              <%= current_user.username %>さん
            <% else %>
              <%= link_to "ログイン", :new_user_session %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <% if notice%>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert%>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
