<!DOCTYPE html>
<html>
  <head>
    <title>CartApp</title>
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="shop_link"><%= link_to "SHOP", "//" +Rails.configuration.x.shop_host%></div>
    </div>
    <div class="container">
      <div>
        <% if notice%>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert%>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
